#variable.assignment.coffee {
	color: $carmine;
}

#meta.arguments.coffee {
	color: $carmine;
	font-style: italic;
}

#constant.other.property.coffee {
	color: $carmine;
}

#string.quoted.double.coffee #source.coffee.embedded.source {
	color: $carmine;
}
