#punctuation {
	&.other {
		&.colon,
		&.period {
			&.go {
				color: $amethyst;
			}
		}
	}

	&.separator.constant.numeric.go {
		color: $marigold;
	}
}

#storage.type {
	&.numeric,
	&.string,
	&.boolean,
	&.byte,
	&.error,
	&.rune,
	&.uintptr {
		&.go {
			color: $nectarine;
		}
	}
}

#entity.name.import.go {
	color: $carmine;
}

#string.unquoted.go {
	&.mod,
	&.sum {
		color: $spring;
	}
}
