/**
 * Scopes based on "GraphQL"
 *
 * https://marketplace.visualstudio.com/items?itemName=GraphQL.vscode-graphql
 */

#string.unquoted.alias.graphql {
	color: $carmine;
}

#variable {
	&.graphql,
	&.arguments.graphql {
		color: $carmine;
	}

	&.fragment.graphql {
		color: $nectarine;
	}
}

#constant.character.enum.graphql {
	color: $carmine;
}

#entity.scalar {
	color: $nectarine;
}

#punctuation {
	&.colon,
	&.comma,
	&.assignment,
	&.or {
		&.graphql {
			color: $amethyst;
		}
	}
}
