$amethyst: #b877db;
$aurora: #78e08f;
$carmine: #e95678;
$cerulean: #89b6ff;
$chartreuse: #b3f172;
$grisaille: #5c5d63;
$marigold: #f09483;
$nectarine: #f8c291;
$ocean: #25b0bc;
$smoke: #bbbbbb;
$spring: #a5d6ff;
$storm: #aaaaaa;

@import './AsciiDoc.scss';
@import './Clojure';
@import './CoffeeScript';
@import './CSS';
@import './Elixir';
@import './Go';
@import './GraphQL';
@import './Haskell';
@import './HTML';
@import './Ignore';
@import './Markdown';
@import './JavaScript';
@import './Markdown';
@import './Rust';
@import './TOML';
@import './TypeScript';
@import './Vue';
@import './YAML';

#string {
	&.quoted,
	&.template {
		color: $spring;
	}

	&.regexp {
		#keyword.other,
		#punctuation.definition.string {
			color: $amethyst;
		}

		color: #ffffff;
	}
}

#entity {
	&.name {
		&.variable {
			color: $carmine;
		}

		&.function {
			color: $ocean;
		}

		&.type {
			color: $nectarine;
		}

		color: $nectarine;
	}

	&.other.inherited-class {
		color: $nectarine;
	}
}

#support {
	&.variable,
	&.type.property-name {
		color: $carmine;
	}

	&.function {
		color: $ocean;
	}

	color: $nectarine;
}

#variable {
	&.language {
		color: $nectarine;
		font-style: italic;
	}

	&.other {
		&.constant.property,
		&.property {
			color: $carmine;
		}
	}

	&.parameter {
		color: $carmine;
		font-style: italic;
	}
}

#storage {
	&.type.cs {
		color: $nectarine;
	}

	color: $amethyst;
}

#comment {
	color: $grisaille;
	font-style: italic;
}

#constant {
	&.numeric {
		color: $marigold;
	}

	&.character.escape {
		color: $ocean;
	}

	color: $marigold;
}

#punctuation {
	&.separator,
	&.accessor,
	&.section.embedded,
	&.definition.template-expression {
		color: $amethyst;
	}

	&.definition {
		&.tag,
		&.typeparameters {
			color: $carmine;
		}
	}
}

#keyword {
	color: $amethyst;
}

#meta.object-literal.key {
	color: $carmine;
}
