#markup {
	&.quote {
		color: $aurora;
		font-style: italic;
	}

	&.fenced_code.block.markdown {
		color: $smoke;

		#punctuation.definition.markdown {
			color: $amethyst;
		}

		#fenced_code.block.language {
			color: $carmine;
		}
	}

	&.inline.raw {
		color: $carmine;
	}

	&.underline.link {
		color: $spring;
	}

	&.bold {
		color: $amethyst;
		font-weight: bold;
	}

	&.italic {
		color: $ocean;
		font-style: italic;
	}
}

#punctuation.definition {
	&.heading {
		color: $carmine;
	}

	&.list,
	&.metadata {
		color: $amethyst;
	}

	&.string {
		&.begin,
		&.end {
			&.markdown {
				color: $amethyst;
			}
		}
	}
}

#meta {
	&.separator {
		color: $amethyst;
	}

	&.link.reference {
		color: $carmine;
		font-style: italic;
	}
}

#entity.name.section {
	color: $carmine;
}

#string.other.link {
	&.title,
	&.description {
		color: $carmine;
	}
}

#constant.other.reference.link {
	color: $carmine;
}
